.parent {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "option editor";
  height: 100%;
}

.options {
  height: 100vh;
  width: 100%;
  grid-area: option;
}

.quill {
  height: 100vh;
  width: 100%;
  grid-area: editor;
}
